streamlit

# LangChain versions compatible with Streamlit
langchain==0.1.13
langchain-community==0.0.21
langchain-core==0.1.20
langchain-text-splitters==0.0.1

# Pydantic (compatible with these LC versions)
pydantic==2.6.1

# ChromaDB stable version for Streamlit cloud
chromadb==0.3.29

# Ollama client
ollama==0.1.7
